
<div class="row">
  <center>
    <!-- Left side (ready to eat) -->
    <div class="col-md-12">
      <h4 class="red_font">Griddled Onion News Burgers!</h4>
      <div id="ready_to_eat">

        <!-- Dynamically Insert Ready Burgers Here -->
        {{#each newsscrapes }}
          {{!-- {{#unless devoured}} --}}
        <div>
          <li>{{title}}</li>
          <li><a href={{link}}>{{link}}</a></li>

        </div>
          {{!-- <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form> --}}
          {{!-- {{/unless}} --}}
        {{/each}}

      </div>
    </div>


