
<div class="container">
  <center>
   
      <h4>Griddled Onion News Burgers!</h4>
     

        {{#each newsscrapes }}
          <div class="col-10" id="scrapes">
          <div class="border rounded border-dark mb-1" data-id={{_id}}>
          <div class="text-left">{{title}}</div>
          <div class="text-left"><a href={{link}} target="_blank">{{link}}</a></div>
          <div class="text-left">Scraped: {{created}}</div>
        {{#if comments}}
          <div class="text-left border-warning border-top">Comments:</div>
          {{#each comments}}
          <div class="text-left">{{this}}</div>
          {{/each}}
    
        {{/if}}
        <form action="comment/{{_id}}" method="post">
    <div class="text-left border-success border-top input-group"> 
    <input type="text" name="comment" id="comment" class="form-control" placeholder="write a comment...">   
    <input type="submit" class="btn btn-primary comment-btn" value="Submit">
    </div>
    </form>
  </div>
  </div>

        {{/each}}
        </center>
</div>
