
<div class="container">
  <center>
   
      <h4>Griddled Onion News Burgers!</h4>
     

        {{#each newsscrapes }}
          <div class="col-10" id="scrapes">
          <div class="border rounded border-dark mb-1" data-id={{_id}}>
          <div class="text-left">{{title}}</div>
          <div class="text-left"><a href={{link}} target="_blank">{{link}}</a></div>
          <div class="text-left">Scraped: {{created}}</div>
        {{#if comments}}
          <div class="text-left border-warning border-top">Comments:</div>
          {{#each comments}}
          <div class="text-left">{{this}}</div>
          {{/each}}
    
        {{/if}}
        <form action="/comment/{{_id}}" method="POST">
    <div class="text-left border-success border-top input-group">    
    {{!-- <label for="formInput">Add a comment:</label> --}}
    <input type="text" class="form-control comment-input" placeholder="Write a comment...">
    <button type="button" class="btn btn-primary comment-btn" type="submit">Submit</button>
    </div>
    </form>
  </div>
  </div>

        {{/each}}
        </center>
</div>
