
<div class="container">
  <center>
       

        {{#each newsscrapes }}
        <div class="row">
          <div class="col-12 scrapes">
          <div class="border rounded border-dark mb-1 bg-white storyid" data-id={{this._id}}>
          <div class="text-left m-1"><b>{{this.title}}</b></div>
          <div class="text-left m-1"><a href={{this.link}} target="_blank">{{this.link}}</a></div>
          <div class="text-left m-1">Scraped: {{created}}</div>
        {{#if comments}}
          {{#each comments}}
          <div class="text-left m-1"><b>&#8594</b> {{this.comment}} [{{this.username}} on {{this.date}}]</div>
          {{/each}}
    
        {{/if}}
        <div class="text-left border-success border-top">
        
        <form>
        <div class="row no-gutters m-1">
        <div class="col-8">    
        <input class="form-control comment" type="text" id='{{this._id}}comment' name="comment" placeholder="enter your comment:">
        </div>
        <div class="col-4">
        <input class="form-control username" type="text" id='{{this._id}}username' name="username" placeholder="your name:">
        </div>
        </div>
        <input type="submit" class="btn btn-primary comment-btn m-1" data-id={{this._id}} value="Submit">
          
        </form>
        </div>
  </div>
  </div>
  </div>


        {{/each}}
        </center>

<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Input Error:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>>Please be sure to include both a username and a comment...</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div>
