
<div class="container">
  <center>
   
      <h4>Griddled Onion News Burgers!</h4>
     

        {{#each newsscrapes }}
        <div class="row">
          <div class="col-12" id="scrapes">
          <div class="border rounded border-dark mb-1 bg-white" data-id={{_id}}>
          <div class="text-left m-1">{{title}}</div>
          <div class="text-left m-1"><a href={{link}} target="_blank">{{link}}</a></div>
          <div class="text-left m-1">Scraped: {{created}}</div>
        {{#if comments}}
          {{#each comments}}
          <div class="text-left m-1"><b>&#8594</b> {{this.comment}}:  {{this.username}} on {{this.date}}</div>
          {{/each}}
    
        {{/if}}
        <div class="text-left border-success border-top">
        
        <form action="/{{_id}}" method="post">
        <div class="row no-gutters m-1">
        <div class="col-8">    
        <input class="form-control" type="text" name="comment" id="comment"  placeholder="comment:">
        </div>
        <div class="col-4">
        <input class="form-control" type="text" name="username" id="username"  placeholder="your name:">
        </div>
        </div>
        <input type="submit" class="btn btn-primary comment-btn m-1" value="Submit">
          
        </form>
        </div>
  </div>
  </div>
  </div>


        {{/each}}
        </center>
</div>
