
<div class="container">
  <center>
    <!-- Left side (ready to eat) -->
    {{!-- <div class="col-md-12"> --}}
      <h4>Griddled Onion News Burgers!</h4>
     

        {{#each newsscrapes }}
          {{!-- {{#unless devoured}} --}}
          <div class="col-10" id="scrapes">
          <div class="border rounded border-dark mb-1" data-id={{_id}}>
          <div class="text-left">{{title}}</div>
          <div class="text-left"><a href={{link}} target="_blank">{{link}}</a></div>
          <div class="text-left">Scraped: {{created}}</div>
    <div class="text-left border-success border-top">    
    <label for="formInput">Comment:</label>
    <input type="text" class="form-control" placeholder="Write a comment...">
    </div>
  </div>
  </div>

          {{!-- <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form> --}}
          {{!-- {{/unless}} --}}
        {{/each}}
        </center>
</div>


